<div class="search_container">
  <h1>検索結果</h1>
  <% @res_data["record"].each do |data| %>
    <% title = data["metadata"]["schema:name"][0].sub!(/. jpn..*/m,"") %>
    <p><%= link_to(title,"/keyword/#{@keyword}/detail/#{title}") %></p>
  <% end %>
</div>
