<div class="text-center">
  <h1><%= @user.name %></h1>
</div>
<div class="user-detail-link">
  <div class="user-detail-half">
    <%= link_to("投稿","/user/#{@user.id}/detail",{class: "detail-text-dec"}) %>
  </div>
  <div class="user-detail-half">
    <%= link_to("いいね！","/user/#{@user.id}/likes",{class: "detail-text-dec"}) %>
  </div>
</div>
<% @posts.each do |post| %>
  <%= render partial: 'shared/postContent',locals: {post: post} %>
<% end %>

<script>
  window.addEventListener('popstate', function(e) {
    window.location.reload();
  });
</script>