<div class="text-center">
	<div class="nec-login-container">
		<h1>ログインして<br class="mobile_l">あなたも<br class="iPad">レビューを<br class="mobile_l">投稿しましょう</h1>
		<p><%= link_to("ログインはこちら","/login_form",{class: "text-dec-none"}) %></p>
		<br>
		<p><%= link_to("アカウント作成はこちら","/signup",{class: "text-dec-none"}) %></p>
	</div>
</div>