<div id="form">
  <h2 class="form-title">新規投稿</h2>
  <%= form_tag("/post/create") do %>
    <div class="create-form-container">
        <p>ゲームタイトル：<%= @title %></p>
        <p>星(レビューのやつ)</p>
        <p></p>
        <p class="textarea"><textarea type="article"></textarea></p>
        <p class="submit"><input type="submit" value="投稿"></p>
    </div>
  <% end %>
</div>