/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*  フォントの読み込み　*/
 @font-face{
   font-family: "logotype";
   src: url("./ロゴたいぷゴシックCondense.otf");
 }

 .text-center{
  text-align: center;
 }

 .text-right{
  text-align: right;
}

.text-left{
  text-align: left;
  font-family: 'Permanent Marker', cursive;;
}

.text-dec-none{
  text-decoration: none;
}

/* application.html.erb */

header{
  position: fixed;
  width: 100%;
}
.body{
  padding-top: 160px;
}

.logo{
  font-size: 32px;
  color: white;
  width: 40%;
  float: left;
}

.app_container{
  text-align: center;
  background-color: #C25100;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.search-box{
  padding-top: 10px;
  text-align: right;
  padding-right: 5%;
}
.search-textbox{
  border: solid 5px white;
}

.link-contents{
  padding-top: 40px;
  padding-bottom: 20px;
}

.link-contents p{
  float: left;
  width: 33%;
  font-family: "logotype";
  font-weight: bold;;
}
.link-contents p :hover{
  color: #FFFF66;
}

.app-text-dec-none{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.submit-button{
  background-color: #55FFFF;
  border: solid #55FFFF
}
.fas{
  font-size: 16px;
}