/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*  フォントの読み込み　*/
 @font-face{
   font-family: "logotype";
   src: url("./ロゴたいぷゴシックCondense.otf");
 }

 .body{
   height: 100%;
 }
 .less_than_iPad{
   display: none;
 }
 .iPad{
   display: none;
 }

 .text-center{
  text-align: center;
 }

 .text-right{
  text-align: right;
}

.text-left{
  text-align: left;
  font-family: 'Permanent Marker', cursive;
}

.text-dec-none{
  text-decoration: none;
}

/* application.html.erb */

header{
  position: fixed;
  width: 100%;
  top: 0;
}

.flash{
  color: black;
  background-color: #FFFF66;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 20px 20px 40px;
  font-family: "logotype";
  font-weight: bold;
  text-align: center;
}

.logo{
  font-size: 32px;
  color: white;
  width: 30%;
  float: left;
}

.user-page-link p{
  float: left;
  font-family: "logotype";
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.user-page-link p :hover{
  color: #FFFF66;
}

.app_container{
  text-align: center;
  background-color: #C25100;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.search-box{
  padding-top: 10px;
  text-align: right;
  padding-right: 5%;
}
.search-textbox{
  border: solid 5px white;
}

.link-contents{
  padding-top: 40px;
  padding-bottom: 20px;
}

.link-contents p{
  float: left;
  width: 33%;
  font-family: "logotype";
  font-weight: bold;
}
.link-contents p :hover{
  color: #FFFF66;
}

.app-text-dec-none{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.app-text-dec-none:hover{
  text-decoration: none;
}
.app-text-dec-none:active{
  text-decoration: none;
}

.submit-button{
  background-color: #55FFFF;
  border: solid #55FFFF
}
.fas{
  font-size: 16px;
}

/* メディアクエリ */
 /* iPad 以下*/
 @media screen and (max-width: 768px){
  .response_pc{
    display: none;
  }
  .less_than_iPad{
    display: block;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
  }
  .overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .menu-trigger {
    display: inline-block;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
  /*   transform: translateX(0);
    transition: transform .5s;
   */}
  /* .menu-trigger.active {
    transform: translateX(-250px);
  }
   */.menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all .5s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
 
  .nav-list {
    width: 250px;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(16, 69, 153, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(250px);
    transition: all .5s;
  }
  nav.open {
    transform: translateZ(0);
  }
  nav ul{
    list-style: none;
  }
  nav .li_list {
    color: white;
    text-decoration:none;
    display: inline-block;
    margin: 10px 0;
    font-size: large;
  }
  nav .li_list:hover{
    opacity: 0.6;
  }

  .search-box{
    text-align: center;
  }

  .logo{
    font-size: 22px;
    color: white;
    width: 25%;
  }
  .iPad{
    display: block;
  }
 }