// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.textarea{
    margin-bottom: 20px;
}

textarea[type="article"]{
  width: 300px;
  padding: 4px;
  font-size: 14px;
  display: block;
  margin:0 auto;
}

/* detail.html.erb */
.contents-container{
  margin: 15px auto;
  padding: 20px;
  width: 50%;
  background-color:#EEEEEE;
  text-align: center;
}

.like-btn{
  color: #8899a6;
}

.like-btn-unlike{
  color: #ff2581;
}