// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.textarea{
    margin-bottom: 20px;
}

textarea[type="article"]{
  width: 300px;
  padding: 4px;
  font-size: 14px;
  display: block;
  margin:0 auto;
}

/* detail.html.erb */
.contents-container{
  width: 50%;
  margin: 0 auto;
}