// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* new.html.erb */
.textarea{
    margin-bottom: 20px;
}

textarea[type="article"]{
  width: 300px;
  padding: 4px;
  font-size: 14px;
  display: block;
  margin:0 auto;
  resize: none;
  height: 100px;
}

.form-group{
  text-align: center;
}

/* detail.html.erb */
.contents-container{
  margin: 15px 0;
  margin-left: 10%;
  padding: 20px;
  width: 50%;
  background-color:#EEEEEE;
  text-align: center;
  float: left;
}

.like-btn{
  color: #8899a6;
}

.like-btn-unlike{
  color: #ff2581;
}

.favo-button{
  text-decoration: none;
}
.favo-button:hover{
  text-decoration: none;
}
.favo-button:active{
  text-decoration: none;
}

.comments{
  width: 40%;
  float: right;
  overflow-y: scroll;
  height: 100%;
  height: 60vh;
}
.comments h3{
  text-align: center;
}
.comment-post{
  margin: 15px auto;
  padding: 20px;
  width: 80%;
  background-color:#EEEEEE;
}

/* メディアクエリ */
 /* iPad 以下*/
 @media screen and (max-width: 768px){
  .comments{
    width: 40%;
    float: right;
    overflow-y: scroll;
    height: 100%;
    height: 80vh;
  }
 }